// Place all the styles related to the pokemons controller here.
// They will automatically be included in application.css.

// You can use Sass (SCSS) here: http://sass-lang.com/
.text-align-container {
    text-align: inline;
    opacity: 100%;
    border: 0px solid rgb(88, 2, 7);
   
    border-radius: 0px;
    width: 337px;
  }

  li {
    display: inline-block;
    margin: 20px;
    border: 5px solid rgb(88, 2, 7);
    border-radius: 7px;
    padding: 20px 20px 20px 20px;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 

